/* css styles */
.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


pre.sourceCode.sage, code.sourceCode.sage {
  background-color: #2e2e2e;
  color: #f8f8f2;
  padding: 1em;
  border-radius: 6px;
}

a.people-link {  
  color: green;
}

a.caslte-link {  
  color: #5c7b5c;
}

a.internal-link {
  color: #c71c22;
}


a.photo-link {  
  color: rgb(120, 97, 68);
}

/* Nút PDF (outline style) */
.btn-pdf {
  display: inline-block;
  padding: 4px 10px;
  margin: 5px 6px 5px 0;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.85em;
  font-weight: 500;
  font-family: inherit;
  color: #cc0000;
  border: 1px solid #cc0000;
  background-color: transparent;
}

.btn-pdf:hover {
 background-color: #cc0000;
  color: #ffffff;
  text-decoration: none;
}


.news-table tr {
  height: 2.0em;       /* tăng chiều cao dòng */
}

.news-table td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;  /* tăng khoảng cách trên và dưới text */
}


/* Chỉ canh giữa tiêu đề chính ở đầu trang */
h1 {
  text-align: center;
}



/* Giữ nguyên các tiêu đề cấp 2 trở xuống */
h2, h3, h4, h5, h6 {
  text-align: left;
}



.course-table table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #000; /* viền ngoài đậm */
}

.course-table th,
.course-table td {
  border: 1px solid #000;   /* viền từng ô */
  padding: 6px 10px;        /* dễ đọc */
  vertical-align: top;      /* canh nội dung top rất đẹp */
}

.course-table th {
  background-color: #f2f2f2;  /* giúp header nổi bật, tùy chọn */
}
